//
// Color names provided by https://www.htmlcsscolor.com/.
//

$black: black;
$blue: blue;
$charcoal: #424242;
$gray: gray;
$orange: orange;
$pinkSwan: #b3b3b3;
$red: red;
$suvaGrey: #8d8d8d;
$white: white;
