.key {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--key-width);
  height: var(--key-height);

  border: 0;
  border-radius: 5px;
  padding: 0;

  outline: 0;

  cursor: pointer;

  font-family: inherit;
  font-size: inherit;

  box-shadow: black var(--key-offset) var(--key-offset) 5px;
  background-color: gray;
  color: black;
}


.key:focus,
.key:enabled:hover {
  opacity: 0.9;
}


.key:enabled:active,
.key--is-active:enabled {
  transform: translate(var(--key-offset), var(--key-offset));

  background-color: orange;
  box-shadow: none;
}


.key:disabled {
  cursor: default;
  box-shadow: none;
}
