@use "colors";

.layout {
  display: flex;
  height: 100vh;

  background-color: colors.$suvaGrey;
}

.layout__content {
  box-sizing: border-box;
  padding: 20px;
  //
  // Ensures the padding is shown when the content overflows its container.
  //
  display: inline-block;

  //
  // Vertically and horizontally center.
  //
  margin: auto;
}
