@use "colors";

.slider {
  width: 100%;
  margin: 0;
  cursor: pointer;
  background-color: colors.$white;
}


.slider::-moz-range-thumb {
  width: 8px;
  height: 25px;

  border: 0;
  border-radius: 0;

  background-color: colors.$blue;
}


.slider::-moz-range-track {
  height: 5px;

  background-color: colors.$charcoal;
}


.slider:disabled {
  cursor: default;
  background-color: colors.$white;
  opacity: 0.8;
}
