.switch {
  appearance: none;
  margin: 0;

  width: var(--switch-width);
  padding: var(--switch-padding-y) var(--switch-padding-x);
  background-color: black;

  cursor: pointer;
}


.switch::before {
  content: "";

  display: block;

  width: var(--switch-button-width);
  height: var(--switch-button-height);

  background-color: red;

  transition: transform 0.2s ease-out;
}


.switch:checked::before {
  background-color: blue;

  transform: translateX(var(--switch-button-width));
  transition: transform 0.2s ease-out;
}


.switch:disabled {
  cursor: default;
}


.switch:disabled::before {
  opacity: 0.8;
}
