@import url('https://fonts.googleapis.com/css?family=Russo+One');


* {
  box-sizing: border-box;
}


body {
  font-family: 'Russo One';
}


/* Error */


.error {
  font-family: initial;
  margin: 10px;
}


/* Key */


:root {
  --key-width: 100px;
  --key-height: 80px;
  --key-offset: 3px;
}


.key {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--key-width);
  height: var(--key-height);

  border: 0;
  border-radius: 5px;
  padding: 0;

  outline: 0;

  cursor: pointer;

  font-family: inherit;
  font-size: inherit;

  box-shadow: black var(--key-offset) var(--key-offset) 5px;
  background-color: gray;
  color: black;
}


.key:focus,
.key:enabled:hover {
  opacity: 0.9;
}


.key:enabled:active,
.key--is-active:enabled {
  transform: translate(var(--key-offset), var(--key-offset));

  background-color: orange;
  box-shadow: none;
}


.key:disabled {
  cursor: default;
  box-shadow: none;
}


/* Panel */


:root {
  --panel-gap: 10px;

  --panel-spot-width: var(--key-width);
  --panel-spot-height: var(--key-height);
  --panel-spot-offset-x: calc(var(--panel-spot-width) + var(--panel-gap));
  --panel-spot-offset-y: calc(var(--panel-spot-height) + var(--panel-gap));

  --panel-width: calc(var(--panel-spot-width) + 2 * var(--panel-spot-offset-x) + var(--key-offset));
  --panel-height: calc(var(--panel-spot-height) + 2 * var(--panel-spot-offset-y) + var(--key-offset));
}


.panel {
  width: var(--panel-width);
  height: var(--panel-height);
}


.panel__container {
  position: relative;
}


.panel__spot {
  position: absolute;
}


.r1 {
  top: 0;
}


.r2 {
  top: var(--panel-spot-offset-y);
}


.r3 {
  top: calc(2 * var(--panel-spot-offset-y));
}


.c1 {
  left: 0;
}


.c2 {
  left: var(--panel-spot-offset-x);
}


.c3 {
  left: calc(2 * var(--panel-spot-offset-x));
}


/* Switch */


:root {
  --switch-button-width: 23px;
  --switch-button-height: 19px;

  --switch-padding-x: 4px;
  --switch-padding-y: 4px;

  --switch-width: calc(2 * (var(--switch-button-width) + var(--switch-padding-x)));
  --switch-height: calc(2 * (var(--switch-button-height) + var(--switch-padding-y)));
}


.switch {
  appearance: none;
  margin: 0;

  width: var(--switch-width);
  padding: var(--switch-padding-y) var(--switch-padding-x);
  background-color: black;

  cursor: pointer;
}


.switch::before {
  content: "";

  display: block;
  width: var(--switch-button-width);
  height: var(--switch-button-height);

  background-color: red;

  transition: transform 0.2s ease-out;
}


.switch:checked::before {
  background-color: blue;

  transform: translateX(var(--switch-button-width));
  transition: transform 0.2s ease-out;
}


.switch:disabled {
  cursor: default;
}


.switch:disabled::before {
  opacity: 0.8;
}


/* Labelled Switch */


.labelled-switch {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.labelled-switch__title {
  font-weight: bold;
}


/* Slider */


.slider {
  width: 100%;
  margin: 0;
  cursor: pointer;
  background-color: white;
}


.slider::-moz-range-thumb {
  width: 8px;
  height: 25px;

  border: 0;
  border-radius: 0;

  background-color: blue;
}


.slider::-moz-range-track {
  height: 5px;

  background-color: #424242;
}


.slider:disabled {
  cursor: default;
  background-color: white;
  opacity: 0.8;
}


/* Display */


.display {
  padding: 15px;
  text-align: center;
  background-color: gray;
}


.display:empty::before {
  content: "\00A0";
}


/* Drum Machine */


.drum-machine {
  border: 5px solid orange;
  padding: 25px;

  display: inline-flex;
  flex-direction: column;

  background-color: #b3b3b3;
}


.drum-machine__panel {
  margin-bottom: 25px;
}


.drum-machine__controls {
  width: var(--panel-width);
  height: var(--panel-height);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.drum-machine__display {
  align-self: stretch;
  padding-left: 10%;
  padding-right: 10%;
}


.drum-machine__volume {
  align-self: stretch;
}


@media screen and (min-width: 750px) {
  .drum-machine {
    flex-direction: row;
  }

  .drum-machine__panel {
    margin-bottom: 0;
    margin-right: 25px;
  }
}


/* Layout */


body {
  height: 100vh;
  margin: 0;
}


.layout {
  height: 100%;
  overflow: auto;

  background-color: #8d8d8d;
}


.layout__wrapper > .drum-machine {
  margin: 20px;
}


@media screen and (min-width: 383px) {
  .layout {
    display: flex;
    justify-content: center;
  }
}


@media screen and (min-width: 383px) and (min-height: 611px) {
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (min-width: 775px) and (min-height: 370px) {
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
