@import url('https://fonts.googleapis.com/css?family=Russo+One');

.mr-40 {
  margin-right: 40px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: 'Russo One';

  background-color: #8d8d8d;
}

/** Drum Machine **/

.drum-machine {
  display: inline-block;

  padding: 25px;
  border: 5px solid orange;

  background-color: #b3b3b3;
}

/** Drum Pads **/

/* Base */

.drum-pad {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 80px;

  border-radius: 5px;

  cursor: pointer;
}

/* Positioning */

.drum-pads__container {
  position: relative;
  width: 320px;
  height: 260px;
}

.drum-pad {
  position: absolute;
}

.r1 {
  top: 0;
}

.r2 {
  top: 90px;
}

.r3 {
  top: 180px;
}

.c1 {
  left: 0;
}

.c2 {
  left: 110px;
}

.c3 {
  left: 220px;
}

/* Theme */

.drum-pad {
  background-color: gray;
  box-shadow: black 3px 3px 5px;
}

/* States */

.drum-pad.is-active {
  margin-top: 3px;
  height: 77px;

  background-color: orange;
  box-shadow: orange 0px 3px;
}

/** Controls **/

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 240px;
}

/** Switch **/

/* Base */

.switch {
  display: inline-block;
}

.switch__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch__title {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.switch__button-container {
  display: flex;
  justify-content: left;

  box-sizing: border-box;
  width: 54px;
  height: 27px;
  border: 4px solid black;
}

.switch__button {
  box-sizing: border-box;
  width: 23px;
  height: 19px;

  cursor: pointer;
}

/* Theme */

.switch__button-container {
  background-color: black;
}

.switch__button {
  background-color: red;
}

/* States */

.switch.is-off .switch__button-container {
  justify-content: left;
}

.switch.is-off .switch__button {
  background-color: red;
}

.switch.is-on .switch__button-container {
  justify-content: right;
}

.switch.is-on .switch__button {
  background-color: blue;
}

/** Display **/

/* Base */

.display {
  box-sizing: border-box;

  width: 80%;
  padding: 15px;

  text-align: center;
}

/* Theme */

.display {
  background-color: gray;
}

/** Slider **/

.slider,
.slider [type=range] {
  width: 100%;
}

.slider [type=range]::-moz-range-thumb {
  width: 8px;
  height: 25px;

  border: none;
  border-radius: 0;

  cursor: pointer;

  background-color: blue;
}

.slider [type=range]::-moz-range-track {
  height: 5px;

  cursor: pointer;

  background-color: #424242;
}
