.drum-machine {
  border: 5px solid orange;
  padding: 25px;

  display: inline-flex;
  flex-direction: column;

  background-color: #b3b3b3;
}


.drum-machine__panel {
  margin-bottom: 25px;
}


.drum-machine__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.drum-machine__display {
  /* width: 80%; */
}
