body {
  height: 100vh;
  margin: 0;
}


.layout {
  height: 100%;
  overflow: auto;

  background-color: #8d8d8d;
}


.layout__wrapper > .drum-machine {
  margin: 20px;
}


@media screen and (min-width: 383px) {
  .layout {
    display: flex;
    justify-content: center;
  }
}


@media screen and (min-width: 383px) and (min-height: 611px) {
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (min-width: 775px) and (min-height: 370px) {
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
