.layout {
  height: 100%;
  overflow: auto;

  background-color: #8d8d8d;
}


.layout__wrapper {
  padding: 20px;
}


@media screen and (min-width: 775px) and (min-height: 370px) {
  .layout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
